body {
    width: 100%;
    height: 100%;
    background-color: #9cd2d4;
    background-image: url("background.png");
}

h1 {
    color: #edeef0;
    margin-left: 20px;
}

.field{

  border-radius: 10px;
  border:2px solid black;
  width: 250px;
  height: 50px;
  font-size: 30px;
  font-family:Calibri,sans-serif;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  overflow:hidden;
  white-space: nowrap;
  outline: none;
}


.question{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 30px;
  font-family:Calibri,sans-serif;
  transform: translate(-50%, -50%);
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
